# /lib/systemd/system/qmanager-setup.service
[Unit]
Description=QManager Directory & Permission Setup
Before=qmanager-ping.service qmanager-poller.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/qmanager_setup

[Install]
WantedBy=multi-user.target
